@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://css.gg/phone.css");
@import url("https://css.gg/mail.css");
@import url("https://css.gg/menu.css");
::-moz-selection {
  color: black;
  background: gold;
}
::selection {
  color: black;
  background: gold;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #080808;
  color: #eee;
}

section {
  padding-block: 1em;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

a::after {
  content: "";
  display: inline-block;
  height: 1px;
  background: gold;
  width: 0%;
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

a.logo-container::after, a.btn::after, a.work-link::after {
  display: none;
}

a:focus, a:hover {
  color: #eee;
}

a:focus::after, a:hover::after {
  width: 100%;
}

.txt-center {
  text-align: center !important;
}

.page-width {
  padding-inline: 5%;
  max-width: 1300px;
  margin: 0 auto;
}

.color-white {
  color: white !important;
}

.heading,
.primary,
.secondary {
  margin-block: 0.5em;
  font-family: "Cabin", sans-serif;
}

.primary {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  color: gold;
}

.secondary {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 500;
  color: #00bfa8;
}

.heading {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 600;
}

.rte {
  font-weight: 300;
}

.txt-container p {
  max-width: 50ch;
}

@media (max-width: 750px) {
  .txt-container {
    text-align: center;
  }
  .txt-container p {
    margin: 0 auto;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.6em 1.8em;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 3px;
  color: gold;
  border: 1px solid #ac8f00;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 0%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: -1;
  background: gold;
  border-radius: inherit;
}

.btn:hover, .btn:focus {
  color: #fff;
  border-color: gold;
}

.btn:hover::before, .btn:focus::before {
  width: 100%;
}

.grid-container {
  padding-block: 1em;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: auto;
  gap: 1em;
}

.form-container form .form-item {
  width: 100%;
  margin-bottom: 2rem;
}

.form-container form .form-item input,
.form-container form .form-item textarea {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  max-width: 100%;
  border: none;
  background: none;
  color: #fff;
  border-bottom: 2px solid #fff93f;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: border;
  transition-property: border;
}

.form-container form .form-item input::-webkit-input-placeholder,
.form-container form .form-item textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form-container form .form-item input:-ms-input-placeholder,
.form-container form .form-item textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form-container form .form-item input::-ms-input-placeholder,
.form-container form .form-item textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form-container form .form-item input::placeholder,
.form-container form .form-item textarea::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form-container form .form-item input:focus,
.form-container form .form-item textarea:focus {
  border-color: #00907b;
}
