// variables

//header vars
$header-bg-color: #684d42;
$header-links-color: #fff;

//theme colors
$primary-light: #fff93f;
$primary-normal: gold;
$primary-dark: #ac8f00;
$secondary-light: #00f0d7;
$secondary-normal: #00bfa8;
$secondary-dark: #00907b;
$bg-lighter: hsl(0, 0%, 7%);
$bg-dark: hsl(0, 0%, 3%);

//buttons
$btn-color: gold;
$btn-bg-color: transparent;
$btn-border-color: $primary-dark;
$btn-hover-bg-color: $primary-normal;
$btn-hover-color: #fff;
$btn-hover-border-color: $primary-normal;
